{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>JgonzalezT</title>
  <link rel="stylesheet" href="{% static 'my_app/acerca.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
          <a class="nav-link text-white" href="{%url 'card:add'%}">JgonzalezT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" href="{%url 'card:acerca'%}">Über mich</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{%url 'card:add'%}">Mitteilungen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="https://github.com/juanpablogt" target="_blank">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white active" aria-current="page" href="{%url 'card:list'%}">Besuche</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    <div class="descripcion">
        {% block content %}

        {% endblock %}
        <br>
        <br>
        <p>Hallo, ich bin Juan Pablo González, ich komme aus Kolumbien. Derzeit (2023) studiere ich im achten Semester Systemtechnik und Informatik an der Technischen Universität Pereira-Kolumbien.
        </p>
    </div>
    <hr>
    <div class="listas">
      <div class="lis1">
        <ul id="sk">
          <h3>Fähigkeiten</h3>
          <li>Django</li>
          <li>Python</li>
          <li>JavaScript</li>
          <li>Node.js</li>
          <li>SQL</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Git</li>
          <li>GitHub</li>
        </ul>
      </div>
    
      <div class="lis2">
        <h3>Berufliche Interessen</h3>
           <li>Webentwicklung</li>
            <li>Künstliche Intelligenz</li> 
           <li>Datenwissenschaft</li>        
         </ul>
      </div>
    </div>    

  <div class="contact">
    <table border>
      <thead>
        <tr>
          <th colspan="4">
            <h3>Kontakt</h3>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <a href="https://instagram.com/jpablo91091/" target="_blank"><img src="https://img.shields.io/badge/-Instagram-%23E4405F?style=for-the-badge&logo=instagram&logoColor=white" target="_blank"></a>
          <a href="https://www.linkedin.com/in/juan-pablo-gonzalez-trejos-941873174/" target="_blank"><img src="https://img.shields.io/badge/-Linkedin-%230077B5?style=for-the-badge&logo=linkedin&logoColor=white"
              target="_blank"></a>
          <a href="https://www.facebook.com/juapabgonzalez/" target="_blank"><img src="https://img.shields.io/badge/-Facebook-%231877F2?style=for-the-badge&logo=facebook&logoColor=white"
              target="_blank"></a>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
