<html>

<head>
    <title>J.Pablo Gonzalez</title>
    <link rel="stylesheet" type="text/css" href="first_app/styles.css">
</head>

    <body>
        
        <div class="descripcion">
            <h1>J.Pablo Gonzalez</h1>

            <h2>mi segundo nombre es: {{first_name | capfirst}}</h2>
            <h2>mi apellido es: {{last_name | capfirst}}</h2>
            <h2>mi edad es: {{age}}</h2>

            <h2>{% for item in list %}
                <ul>
                    <li>{{item}}</li>
                </ul>
                {% endfor %}</h2>

            <h2>{% for item in list %}
                <li>{{item}}</li>
                {% endfor %}
            </h2>

        </div>

    </body>

</html>