h1{
    color: #0bd357e5;
    font-family: 'system-ui', sans-serif;
    font-weight: 300;
    line-height: 44px;
    margin: 0 0 20px;     
    text-align: center;
}

h3{
    color: #6916c9;
    font-family: 'system-ui', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 44px;
    margin: 0 0 20px;
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 100%;
    color: #6916c9;
    font-family: 'system-ui', sans-serif;
    font-size: 25px;
    text-align: center;
}

list{
    color: #161212;
    font-family: 'system-ui', sans-serif;
    font-size: 25px;
    text-align: center;
}

div.descripcion{
    color: #830000;
    font-family: 'system-ui', sans-serif;
    font-size: 20px;
    text-align: center;
}

form{
    color:#ff0000ee;;
    font-family: 'serif', sans-serif;
    font-size: 20px;
    text-align: center;
}

input{
    color: #bbbbbb;
    font-family: 'system.ui';
    font-size: 25px;
    text-align: center;   
}

input[type=submit]{
    color: #ff0000d2;
    font-family: 'system-ui', sans-serif;
    font-size: 25px;
    text-align: center; 
    background-color: rgba(4, 255, 79, 0.5);
    border-color: #ff0000d2;
}

input[type=email]{
    color: #010f03;
    font-family: 'system-ui', sans-serif;
    font-size: 20px;
    text-align: center; 
    background-color:  rgba(15, 175, 0, 0.267);  
    border-color: rgb(4, 255, 79);
}

input[type=message]{
    color: #140303;
    font-family: 'system-ui', sans-serif;
    font-size: 20px;
    text-align: center; 
    background-color: rgba(15, 175, 0, 0.267);  
    border-color: rgb(4, 255, 79);   
}