<!DOCTYPE html>
    <head>
        <title>HALLO</title>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>Thank you for your order!</h1>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class= form 'mb-3'>
                    {{field.label_tag}}
                </div>
                    {{field}}
                {% endfor %}
                <input type="submit">
        </form>
    </body>
</html>


